#Hero{
max-width: 75%;
margin: 50px auto;
display: flex;
min-height: 35vh;
    .heroOptions{
        width: 25%;
        ul{
            line-height: 50px;
        }
    }
    .heroBanner {
        width: 75%;
        background-image: url("https://i.pinimg.com/originals/fa/45/96/fa4596ad9a9d39901eeb455ed4f74e44.jpg");
          background-repeat: no-repeat;
         background-position: center;
          background-size: cover;
          border: 1px solid rgba($color: black, $alpha: 0.5);
      }
}

@media screen and (max-width:800px){
    #Hero{
        .heroOptions{
            display: none;
        }
        .heroBanner{
            width: 100%;
        }
    }
 }
